<div class="your-cart">
  {{#each shoppingCart.items as |item|}}
    <div class="in-cart">
      <span>{{item.title}} -- {{convert-currency item}}</span>
      <button {{action 'removeFromCart' item}} class="btn btn-default">Remove Item</button>
    </div>
  {{/each}}
    <h4>Items: {{shoppingCart.itemsInCart}}</h4>
    <h4>Total: ${{shoppingCart.grandTotal}}.00</h4>
    <button {{action 'emptyCart' item}} class="btn btn-danger">Empty Cart</button>
</div>
