{{#if shoppingCart.items}}
  <div class="your-cart">
    <h3>Your Shopping Bag:</h3>
    {{#each shoppingCart.items as |item|}}
      <div class="in-cart">
        <span><img class="thumbnail" src='{{item.image}}' /></span>
      <div class="left col-md-6">
        <span>{{item.title}}</span>
      </div>
      <div class="right col-md-6">
        <span>{{convert-currency item}}</span>
        <button {{action 'removeFromCart' item}} class="btn btn-default remove-item">REMOVE ITEM</button>
      </div>
    </div>
    {{/each}}
    <div class="left col-md-6">
      <span class="checkout-totals">Items: </span><span class="totals">{{shoppingCart.items.length}} / </span>
      <span class="checkout-totals">Total: </span><span class="totals">{{shoppingCart.grandTotal}}</span>
    </div>
    <div class="right col-md-6">
      <button {{action 'emptyCart' item}} class="btn btn-default remove-item">EMPTY CART</button>
      <button class="btn btn-default checkout-btn">PROCEED TO CHECKOUT</button>
    </div>
  </div>
  {{else}}
  <div class="empty-cart">
    <h1>Your cart is empty!</h1>
    {{#link-to 'new'}}Buy Something!{{/link-to}}
  </div>
{{/if}}
