{{#if addNewProduct}}
  <div class="new-product">
    <form>
      <fieldset class="form-group">
        <label for="title">Product Title:</label>
        {{input value=title id="title" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="image">Main Image:</label>
        {{input value=image id="image" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="description">Description:</label>
        {{input value=description id="description" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="size">Size:</label>
        {{input value=size id="size" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="price">Price:</label>
        {{input value=price id="price" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="category">Category:</label>
        {{input value=category id="category" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="quantity">Quantity:</label>
        {{input value=quantity id="quantity" class="form-control"}}
      </fieldset>

      <button class="btn btn-default btn-block" {{action 'saveProduct'}}>Save Product</button>
    </form>
  </div>
  {{else}}
    <button class="btn btn-default" {{action 'productFormShow'}}>New Product</button>
  {{/if}}
