{{#if addNewProduct}}
  <div class="new-product">
    <form>
      <fieldset class="form-group">
        <label for="title">Product Title:</label>
        {{input value=title id="title" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="image">Main Image:</label>
        {{input value=image id="image" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="image2">Image 2:</label>
        {{input value=image2 id="image2" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="image3">Image 3:</label>
        {{input value=image3 id="image3" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="image4">Image 4:</label>
        {{input value=image4 id="image4" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="image5">Image 5:</label>
        {{input value=image5 id="image5" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="description">Description:</label>
        {{input value=description id="description" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="size">Size:</label>
        {{input value=size id="size" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="materials">Materials:</label>
        {{input value=materials id="materials" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="condition">Condition:</label>
        {{input value=condition id="condition" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="label">label:</label>
        {{input value=label id="label" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="era">Era:</label>
        {{input value=era id="era" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="measurements">Measurements:</label>
        {{input value=measurements id="measurements" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="price">Price:</label>
        {{input value=price id="price" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="category">Category:</label>
        {{input value=category id="category" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="quantity">Quantity:</label>
        {{input value=quantity id="quantity" class="form-control"}}
      </fieldset>

      <button class="btn btn-default btn-block" {{action 'saveProduct'}}>Save Product</button>
    </form>
  </div>
  {{else}}
    <button class="btn btn-default" {{action 'productFormShow'}}>New Product</button>
  {{/if}}
