<div class="buttons">
  <span class="sort-by">Sort By: </span>
  <span class="low" {{action "sortBy" "price:asc"}}>Price - Low to High</span>
  <span class="high" {{action "sortBy" "price:desc"}}>Price -  High to Low</span>
  <span class="new" {{action "sortBy" "date:desc"}}>Newest</span>
</div>

{{#each sortedProducts as |product|}}
<div class="col-md-6 product-tile">
  <img src={{product.image}} alt="featured-image"/>
  <span class="title">{{#link-to 'product' product.id}}{{product.title}}{{/link-to}}</span>
  <span class="price">{{convert-currency product}}</span>
</div>
{{/each}}
