<div class="product">
  <h2>{{product.title}}</h2>
  <p>{{product.price}}</p>
  <img src={{product.image}} class="featured-img" alt="featured-image"/>
  <P>Size: {{product.size}}</p>
  <p>Description: {{product.description}}</p>

  <button {{action 'addToCart' product}} class="btn btn-default">Add to Cart</button>
</div>
