<div class="main-product-detail">
  <div class="col-lg-4 col-md-6 col-sm-6 product-info">
    <h2 class="product-name">{{product.title}}</h2>
    <p class="product-price">{{convert-currency product}}</p>
    <p><span class="attr">Era: </span>{{product.era}}</p>
    <p><span class="attr">Size: </span>{{product.size}}</p>
    <p><span class="attr">Description: </span>{{product.description}}</p>
    <p><span class="attr">Label: </span>{{product.label}}</p>
    <p><span class="attr">Condition: </span>{{product.condition}}</p>
    <p><span class="attr">Materials: </span>{{product.materials}}</p>
    <p><span class="attr">Measurements: </span>{{product.measurements}}</p>
  </div>

<div class="col-lg-6 col-md-6 col-sm-6 info-tile">
  {{#slick-slider autoplay=true arrows=true}}
    <div class="box"> <img src={{product.image}} class="featured-img" alt="featured-image"/>  </div>
    <div class="box"> <img src={{product.image}} class="featured-img" alt="featured-image"/> </div>
    <!-- <div class="box"> <img src={{product.image3}} class="featured-img" alt="featured-image"/>  </div>
    <div class="box"> <img src={{product.image4}} class="featured-img" alt="featured-image"/>  </div>
    <div class="box"> <img src={{product.image5}} class="featured-img" alt="featured-image"/> </div> -->
  {{/slick-slider}}
  <span class ="contact-us">{{#link-to 'contact'}}QUESTIONS? CONTACT US{{/link-to}}</span>
  <button {{action 'addToCart' product}} class="add-cart btn btn-default btn-block">ADD TO CART</button>
  </div>
</div>
