<div class="container">
  <div class="navbar">
    <div class="mini-links">
      {{#if session.isAuthenticated}}
        <span class="sign-out" {{action 'signOut'}}>Sign Out, {{session.currentUser.email}}</span>
      {{/if}}
      {{#unless session.isAuthenticated}}
        <span class="sign-out">{{#link-to 'sign-up'}}Create an Account / {{/link-to}}</span>
        <span class="sign-out">{{#link-to 'sign-in'}}Sign In{{/link-to}}</span>
      {{/unless}}
        <span class="shopping-bag">{{cart-quantity}}</span>
    </div>
    {{#link-to 'new'}}<img class="logo" src="/wl-logo_no_bg.png" alt="logo"/>{{/link-to}}
    <div class="link-bar">
      {{dropdown-menu}}
    </div>
  </div>
</div>

<div class="container">
  {{liquid-outlet}}
</div>

<!-- <div class="footer">
  <div class="footer-link-container">
    <span class="footer-link">RETURN POLICY /</span>
    <span class="footer-link">ABOUT /</span>
    <span class="footer-link">CONTACT US </span>
  </div>
</div> -->
