<h1>Sign Up</h1>
{{input
    type='text'
    class='form-control'
    value=email
    placeholder='email'
}}
{{input
    type='password'
    class='form-control'
    value=password
    placeholder='password'
}}
{{input
    type='text'
    class='form-control'
    value=firstName
    placeholder='firstName'
}}
{{input
    type='text'
    class='form-control'
    value=lastName
    placeholder='lastName'
}}
<button
    class='btn btn-default'
    {{action 'signUp'}}
>
    {{fa-icon 'user-plus'}} Sign Up
</button>
